<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="eap5-client">
    <resources>
        <resource-root path="jnp-client.jar"/>
        <resource-root path="jboss-logging-spi.jar"/>
   </resources>
    <dependencies>
        <module name="javax.api"/>
    </dependencies>
</module>
